@model List<ResultProjectDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<table class="table table-hover table-bordered">

    <tr>

        <th>#</th>
        <th>Proje Başlığı</th>
        <th>Proje Resmi</th>
        <th>Proje Kategorisi</th>
        <th>İşlemler</th>


    </tr>



    @foreach (var project in Model)
    {
        count++;

        <tr>

            <td>@count</td>
            <th>@project.Title</th>
            <th>
                <img src="@project.ImageUrl" style="width:75px;height:75px;border-radius:50%" />


            </th>
            <th>@project.Category.Name</th>
            <th>
                <a href="/Admin/Project/DeleteProject/@project.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Project/UpdateProject/@project.Id" class="btn btn-primary">Güncelle</a>

            </th>


        </tr>


    }




</table>

<a href="/Admin/Project/CreateProject" class="btn btn-success">Ekle</a>


